.input {
    border: 1px solid grey;
    border-radius: 5px;
    font-weight: 700;
    padding: 5px;
    margin-bottom: 10px;
}
form {
    display: flex;
    flex-direction: column;
}
.btn {
        border: 1px solid grey;
        border-radius: 5px;
        font-weight: 700;
        padding: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        background-color: #ececec;

}
.btn:hover {
    background-color: #fff;
}